.App {
  text-align: center;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:disabled {
  opacity: 0.7;
}

.msg{
  width: 100vw;
  text-align: left;
  align-content: left;
}

.msgBtn{
  background: transparent;
  border: none !important;
}

